.linkstyle {
width: 40px;
height: 30px;
margin: 0px;
padding: 0px;
}
#highlight
{
	background-color:#E0E3E0;
	opacity: 0.3;
}

.tableclass
{
	padding-top :5 px;
	width:100%;
	
}
h1
{
	text-align:center ; 
	padding:100px; 
	color:FF5F00;
	
}
.textstyle
{
text-align:center ;	
font-family:times;
font-size:28px;
color:#DB0090;
	
}
th {
  border: 1px  solid  inset ;
  border-radius: 10px;
  text-align:center ;	
}
.hometable
{
		width:98%;
		border:5px dotted gold ;
		border-radius:16px;
		color: #DAE717;
		background-color: #575C09;
		opacity:0.7;
}
td
{
	border:1px outset yellow; 
	font-size:40px; 
	text-align:center ;
	
}
.button
{
  background-color: gold;
  border: none;
  color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: grab;
}
.button:hover
{
background-color: red;	
color:gold; 
cursor: grab;
	
}
.Card {
    padding: 10px;
    margin: 10px;
    background-color: gold;
    color: #575C09;
    width: 100%;
    text-align: justify;
   
}

#printList {
    margin: 0;
    padding-left: 0.1em;
    width: 100%;
    display: table;
    /* grid-template-columns: repeat(auto-fit, minmax(40rem, 0.6fr)); */
}

.Card:hover {
     background-color: skyblue; 
     cursor: not-allowed;
}

.Inputs {
    margin: 50px;
    text-align: center;
}


}