BloodDonors/DonorsWebApi/BloodDonorsWebApi.csproj
BloodDonors/DonorsWebApi/BloodDonorsWebApi.csproj.user
BloodDonors/DonorsWebApi/obj/Debug/BloodDonorsWebApi.csproj.CopyComplete
BloodDonors/DonorsWebApi/obj/Debug/BloodDonorsWebApi.csproj.CoreCompileInputs.cache
BloodDonors/DonorsWebApi/obj/Debug/BloodDonorsWebApi.csproj.FileListAbsolute.txt
BloodDonors/DonorsWebApi/obj/Debug/BloodDonorsWebApi.csprojAssemblyReference.cache
